snippet note
	# NOTE: (`strftime("%Y-%m-%d")`) `system("whoami | tr -d '\n'")` => ${1}
snippet fixme
	# FIXME: (`strftime("%Y-%m-%d")`) `system("whoami | tr -d '\n'")` => ${1}
snippet todo
	# TODO: (`strftime("%Y-%m-%d")`) `system("whoami | tr -d '\n'")` => ${1}
snippet pryp
	binding.pry${1}
