[color]
	ui = true

[user]
  useConfigOnly = true

[commit]
	gpgsign = true
	template = /home/sangvo/.gitmessage

[include]
  path = ~/.gitconfig_personal

[includeIf "gitdir/i:~/company/"]
    path = ~/.gitconfig_company

[includeIf "gitdir/i:~/workspace/"]
    path =~/.gitconfig_personal

[core]
  editor = vim
  excludesfile = ~/.gitignore_global

[core]
    pager = delta

[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[delta]
  line-numbers = true
  syntax-theme = base16
  side-by-side = false
  file-modified-label = modified:

[interactive]
  diffFilter = delta --color-only

[push]
  default = matching

[merge "bundlelock"]
	name = bundle lock
	driver = bundle lock
[merge "railsschema"]
	name = newer Rails schema version
	driver = "ruby -e '\n\
		system %(git), %(merge-file), %(--marker-size=%L), %(%A), %(%O), %(%B)\n\
		b = File.read(%(%A))\n\
		b.sub!(/^<+ .*\\nActiveRecord::Schema\\.define.:version => (\\d+). do\\n=+\\nActiveRecord::Schema\\.define.:version => (\\d+). do\\n>+ .*/) do\n\
		  %(ActiveRecord::Schema.define(:version => #{[$1, $2].max}) do)\n\
		end\n\
		File.open(%(%A), %(w)) {|f| f.write(b)}\n\
		exit 1 if b.include?(%(<)*%L)'"
